.home {
  #page {
    background-color: #fff;
    color: #525252;
    font-family: $font_reg;

    h1,
    h2 {
      text-transform: none;
    }
  }

  a.btn {
    color: #fff;
    background-color: #345174;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    width: 250px;
    margin: 0 auto;
    text-align: center;
  }

  .pg-feature-img,
  .pg-video {
    display: none;
    position: relative;
  }

  .pg-feature-img {
    background-color: #fff;
    position: relative;
    height: 450px;
    overflow: hidden;
    margin: 0;

    img {
      object-fit: cover;
      font-family: "object-fit: cover";
      width: 100%;
      height: 100%;
    }

    @include respond-to-vert(small) {
      height: 550px;
    }

    @include respond-to-vert(medium) {
      height: 550px;
    }

    @include respond-to(medium) {
      height: 550px;
    }
  }

  .pg-video {
    video {
      width: 100%;
    }

    #scroll_btn {
      font-size: 3em;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0 0 10px #000;
      text-decoration: none;
      width: 50px;
      text-align: center;
      position: absolute;
      left: 50%;
      margin-left: -25px;
      bottom: 1.5em;
      background: none;
      z-index: 5;
      outline: none;
      -webkit-appearance: none;
      animation: bounce linear 1s infinite;

      @include respond-to(small) {
        bottom: 1.5em;
      }
      @include respond-to(medium) {
        bottom: 2.5em;
      }
    }
  }

  // ==== HEADER VIDEO AND IMAGE ======

  .no-videoautoplay &.loaded .pg-feature-img,
  .videoautoplay &.loaded .pg-feature-img {
    display: block;
  }

  .no-videoautoplay &.loaded .pg-video {
    display: none;
  }

  @include respond-to(small) {
    .videoautoplay &.loaded .pg-video {
      display: block;
    }

    .videoautoplay &.loaded .pg-feature-img {
      display: none;
    }
  }

  // ===== MAIN CONTENT========
  .entry-header {
    h1 {
      margin-top: 0.5em;
      color: #345174;
      font-family: $font_bold;
    }

    h2 {
      font-family: $font_reg;
      color: #345174;
    }

    span {
      display: inline-block;
      width: 60px;
      height: 10px;
    }

    .gray {
      background-color: #4b4a4b;
    }

    .blue {
      background-color: #7f888e;
    }

    .red {
      background-color: #ab0534;
    }
  }

  #content {
    transform: skewY(5deg);
    margin-top: -1.625rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .right-side {
      text-align: center;

      img {
        width: 250px;
      }
    }

    #primary {
      transform: skewY(-5deg);
      float: none;
      width: 100%;
    }

    @include respond-to(x-small) {
      margin-top: -2.625rem;
    }

    @media screen and (min-width: 650px) {
      .main-content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .left-side {
          flex: 2;
          padding-right: 1em;
        }
        .right-side {
          flex: 1;
          padding-top: 2em;

          img {
            width: 200px;
          }
        }
      }
    }

    @include respond-to(small) {
      padding-top: 4.5rem;
      margin-top: -3.625rem;
    }

    @include respond-to(large) {
      margin-top: -4.625rem;
      padding-bottom: 8rem;
    }

    @include respond-to(x-large) {
      margin-top: -6.625rem;
    }
  }

  @keyframes bounce {
    0% {
      transform: translate3D(0, 0, 0);
    }
    50% {
      transform: translate3D(0, -10px, 0);
    }
    100% {
      transform: translate3D(0, 0, 0);
    }
  }

  // ==== TESTIMONIAL SECTION ======

  .home-testimonial {
    background-color: #ab0534;
    color: #fff;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:after {
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      background-color: #ab0534;
      opacity: 0.8;
    }

    img {
      object-fit: cover;
      font-family: "object-fit: cover";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }

    .home-testimonial-wrapper {
      position: relative;
      z-index: 10;
      margin-top: -3em;
      padding-top: 7em;
      padding-left: 1.2em;
      padding-right: 1.2em;
      padding-bottom: 5em;

      a {
        display: block;
      }
    }

    .testimonial-carousel {
      color: #fff;
      padding-left: 2em;
      padding-right: 2em;
      padding-bottom: 2em;
      height: 100%;

      blockquote {
        letter-spacing: 0.7px;
        font-size: 1.2em;
      }

      .cell {
        width: 100%;
        height: auto;
        margin-left: 20px;

        span {
          display: block;
        }

        .excerpt {
          font-size: 2em;
          line-height: 1.2;
          font-family: $font_bold;
        }

        .title {
          padding: 1em 0;
          font-family: $font_it;
        }
      }

      // Custom Flickity Styles

      /* big buttons, no circle */
      .flickity-prev-next-button {
        width: 13px;
        height: 24px;
        background: transparent;
        overflow: hidden;
        display: none; // display at larger size
      }
      .flickity-prev-next-button:hover {
        // background: transparent;
      }
      /* arrow color */
      // .flickity-prev-next-button .arrow {
      //   fill: white;
      // }
      // .flickity-prev-next-button.no-svg {
      //   color: white;
      // }

      // .flickity-prev-next-button.previous {
      //   top: 30%;
      //   left: -50px;
      // }
      // .flickity-prev-next-button.next {
      //   top: 30%;
      //   right: -50px;
      // }

      // @include respond-to(x-small) {
      //   padding-left: 50px;
      //   padding-right: 50px;
      // }

      // @include respond-to(small) {
      //   padding-left: 75px;
      //   padding-right: 75px;

      //   .flickity-prev-next-button.previous {
      //     left: -25px;
      //   }
      //   .flickity-prev-next-button.next {
      //     right: -25px;
      //   }
      // }

      // @include respond-to(medium) {
      //   padding-left: 150px;
      //   padding-right: 150px;
      // }
    }
  }

  // ==== LEARN MORE SECTION ======
  .home-learn-more {
    text-align: center;

    h2 {
      font-family: $font_bold;
      color: #525252;
      padding-top: 1em;
    }

    a.btn {
      display: block;
      margin-top: 2em;
    }

    img {
      display: block;
      object-fit: cover;
      font-family: "object-fit: cover";
      width: 100%;
      height: 200px;

      @include respond-to(small) {
        height: 275px;
      }

      @include respond-to(large) {
        height: 350px;
      }
    }

    span {
      display: block;
      padding: 0 1.2em;
    }

    .home-sub-content-inner-wrapper {
      padding-bottom: 2em;
    }

    // Columns =======

    .home-sub-content-wrapper.col-2 {
      display: flex;

      .home-sub-content-inner-wrapper {
        flex: 0 0 100%;

        @include respond-to(x-small) {
          flex: 0 0 50%;
        }
      }
    }

    .home-sub-content-wrapper.col-3 {
      display: flex;
      flex-wrap: wrap;

      .home-sub-content-inner-wrapper {
        flex: 0 0 100%;

        @include respond-to(small) {
          flex: 0 0 33%;
        }
      }
    }

    .home-sub-content-wrapper.col-4 {
      display: flex;
      flex-wrap: wrap;

      .home-sub-content-inner-wrapper {
        flex: 0 0 100%;

        @include respond-to(x-small) {
          flex: 0 0 50%;
        }
      }
    }
  }

  // ==== HIGHLIGHTS SECTION ======

  .home-highlights {
    .highlights-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;

      img {
        object-fit: cover;
        font-family: "object-fit: cover";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
      }
    }

    a {
      flex: 0 0 100%;
      align-self: center;
      display: block;
      font-family: $font_bold;
      position: relative;
      z-index: 10;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
      padding: 0.5em 1.5em;
      width: 230px;
      text-align: center;
      text-shadow: 0 0 10px #000;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

      &:hover,
      &:active {
        background-color: #fff;
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5), 0 0 1.5em rgba(0, 0, 0, 0.7);
        color: #000;
        text-shadow: none;
        box-shadow: none;
      }
    }

    @include respond-to(x-small) {
      display: flex;
      flex-wrap: wrap;

      a {
        margin: 0 1em;
      }

      .highlights-wrapper {
        flex: 0 0 50%;
      }
    }

    @include respond-to(small) {
      height: 400px;
    }

    @include respond-to(medium) {
      // height: 450px;
    }
  }

  // ==== OWNERSHIP SECTION ======

  .home-ownership-wrapper {
    background-color: #fff;
    position: relative;
    z-index: 5;
    width: 100%;
    color: #454545;

    &:after {
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      background-color: #ebebeb;
      // background-color: #fff;
      opacity: 0.8;
    }

    h2 {
      color: #345174;
      font-family: $font_bold;
    }

    h3 {
      font-family: $font_bold;
    }

    a.btn {
      display: block;
      text-align: center;
    }

    img {
      object-fit: cover;
      font-family: "object-fit: cover";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }

    .home-ownership-inner-wrapper {
      padding: 2em 1.2em;
      position: relative;
      z-index: 10;

      @include respond-to(medium) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
