.home {
  #page {
    background-color: #fff;
  }

  .pg-feature-img,
  .pg-video {
    display: none;
    position: relative;
  }

  .pg-feature-img {
    background-color: #fff;
    position: relative;
    height: 450px;
    overflow: hidden;
    margin: 0;

    img {
      object-fit: cover;
      font-family: 'object-fit: cover';
      width: 100%;
      height: 100%;
    }

    @include respond-to-vert(small) {
      height: 550px;
    }

    @include respond-to-vert(medium) {
      height: 550px;
    }

    @include respond-to(medium) {
      height: 550px;
    }
  }

  .pg-video {
    video {
      width: 100%;
    }

    .btn {
      font-size: 3em;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0 0 10px #000;
      text-decoration: none;
      width: 50px;
      text-align: center;
      position: absolute;
      left: 50%;
      margin-left: -25px;
      bottom: 1.5em;
      background: none;
      z-index: 5;
      outline: none;
      -webkit-appearance: none;
      animation: bounce linear 1s infinite;

      @include respond-to(small) {
        bottom: 1.5em;
      }
      @include respond-to(medium) {
        bottom: 2.5em;
      }
    }
  }

  // ========== UNCOMMENT TO SHOW VIDEO AND IMAGE ======

  // .no-videoautoplay &.loaded .pg-feature-img,
  // .videoautoplay &.loaded .pg-feature-img {
  //   display: block;
  // }

  // .no-videoautoplay &.loaded .pg-video {
  //   display: none;
  // }

  // @include respond-to(small) {
  //   .videoautoplay &.loaded .pg-video {
  //     display: block;
  //   }

  //   .videoautoplay &.loaded .pg-feature-img {
  //     display: none;
  //   }
  // }

  #content {
    transform: skewY(5deg);
    margin-top: -1.625rem;
    padding-top: 3rem;

    @include respond-to(x-small) {
      margin-top: -2.625rem;
    }

    @include respond-to(small) {
      padding-top: 4.5rem;
      margin-top: -3.625rem;
    }

    @include respond-to(large) {
      margin-top: -4.625rem;
      padding-bottom: 8rem;
    }

    @include respond-to(x-large) {
      margin-top: -6.625rem;
    }

    #primary {
      transform: skewY(-5deg);
      float: none;
      width: 100%;

      .main-content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-side {
          flex: 2;
        }
        .right-side {
          flex: 1;
        }
      }
    }
  }

  @keyframes bounce {
    0% {
      transform: translate3D(0, 0, 0);
    }
    50% {
      transform: translate3D(0, -10px, 0);
    }
    100% {
      transform: translate3D(0, 0, 0);
    }
  }

  .home-testimonial {
    background-color: #ab0534;
  }
}
