// header Section

.pg-feature-img,
.pg-video {
  display: none;
  position: relative;
}

.pg-feature-img.toggled {
  transform: translate3d(75%, 0, 0);
}

.pg-feature-img {
  background-color: #fff;
  z-index: 50;
  position: relative;
  height: 450px;
  overflow: hidden;
  margin: 0;
  transition: transform 0.2s ease-in-out;

  img {
    object-fit: cover;
    font-family: "object-fit: cover";
    width: 100%;
    height: 100%;
  }

  @include respond-to-vert(small) {
    height: 550px;
  }

  @include respond-to-vert(medium) {
    height: 550px;
  }

  @include respond-to(medium) {
    height: 550px;
  }
}

.pg-video {
  video {
    width: 100%;
  }

  .arrow-text {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-family: $font_bold;
    left: 50%;
    bottom: 5em;
  }

  #scroll_btn {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 10px #000;
    text-decoration: none;
    text-align: center;
    position: absolute;
    left: 45%;
    margin-left: -25px;
    bottom: 1em;
    background: none;
    z-index: 5;
    outline: none;
    -webkit-appearance: none;
    animation: bounce linear 1s infinite;

    @include respond-to(small) {
      // bottom: 1.5em;
    }
    @include respond-to(x-large) {
      bottom: 2.5em;
    }
    @include respond-to(xx-large) {
      bottom: 3.5em;
    }

    @media screen and (min-width: 1900px) {
      bottom: 5.5em;
    }
  }
}

.no-videoautoplay &.loaded .pg-feature-img,
.videoautoplay &.loaded .pg-feature-img {
  display: block;
}

.no-videoautoplay &.loaded .pg-video {
  display: none;
}

@include respond-to(small) {
  .videoautoplay &.loaded .pg-video {
    display: block;
  }

  .videoautoplay &.loaded .pg-feature-img {
    display: none;
  }
}