.entry-header {
  h1 {
    margin-top: 0.5em;
    color: #345174;
    font-family: $font_bold;
  }

  h2 {
    font-family: $font_reg;
    color: #345174;
  }

  span {
    display: inline-block;
    width: 60px;
    height: 10px;
  }

  .gray {
    background-color: #4b4a4b;
  }

  .blue {
    background-color: #7f888e;
  }

  .red {
    background-color: #ab0534;
  }
}

#content {
  transform: skewY(5deg);
  margin-top: -1.625rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  #content-wrapper {
    max-width: 1000px;
  }

  .right-side {
    text-align: center;

    img {
      width: 170px;
    }
  }

  #primary {
    transform: skewY(-5deg);
    float: none;
    width: 100%;

    a {
      color: #345174;
      text-decoration: none;
    }
  }

  @include respond-to(x-small) {
    margin-top: -2.625rem;
  }

  @media screen and (min-width: 650px) {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .main-content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .left-side {
        flex: 2;
        padding-right: 1em;
      }
      .right-side {
        flex: 1;
        padding-top: 2em;

        img {
          width: 200px;
        }
      }
    }
  }

  @include respond-to(small) {
    margin-top: -3.625rem;
  }

  @include respond-to(medium) {
    margin-bottom: -4em;

    .main-content-wrapper {
      margin-bottom: 1.5em;
      h1 {
        font-size: 2.875em;
      }
      h2 {
        font-size: 2.3em;
      }
      .left-side {
        padding-right: 4.5em;
      }
      .right-side {
        img {
          width: 270px;
          margin-top: 1.5em;
        }
      }
    }
  }

  @include respond-to(large) {
    margin-top: -4.625rem;
    // padding-bottom: 8rem;
  }

  @include respond-to(x-large) {
    margin-top: -8.625rem;
    margin-bottom: -8em;
  }

  @include respond-to(xx-large) {
    margin-top: -10.625rem;
  }

  @media screen and (min-width: 1900px) {
    margin-top: -15.625rem;
  }
}