$breakpoints: (
  'xx-small' : 425px,
  'x-small' : 575px,
  'small' : 725px,
  'medium': 975px,
  'large' : 1200px,
  'x-large' : 1450px,
  'xx-large' : 1800px
);

$breakpoints-vert: (
  'small' : 700px,
  'medium' : 950px
);

$width_max-content-width: 1400px;
$width_max-content-width-short: $width_max-content-width * 0.65;
